body {
    background-color: #f8f9fa; /* Modern açık gri arka plan */
}

/* Resim altı yazısı için stil */
.resim-yazisi {
    color: #666;
    font-size: 14px;
    font-style: italic;
    margin-top: 5px;
}